*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #155070;
    /* background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%); */
    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}
.Nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 3em;
    background-color: #000;
     background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
     z-index: 999;
}
.Nav .profile{
    width: 2.4em ;
    height: 2.4em ;
    border-radius: 50em;
    background-color: #000;
    cursor: pointer;
}
.profile >*{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: .2em;

}
.Nav img{
    background-color: #000;
    /* padding-inline: .4em; */
    cursor: pointer;
}
.Nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    list-style: none;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

.Bar{
    
    position: relative;
    top: 0;
    left: 0;
    width: 15em;
    height: 100%;
    background-color: rgb(0, 0, 0, .5);
    display: none;
    justify-content: center;
    align-items: center;
    animation: slid-in 6s ease-in-out;
    z-index: 2;    
}
.Bar .BarImg{
    display: flex;
    width: 90%;
    height: 30%;
    /* border: .2em solid red; */

}
.BarImg > *{
    position: relative;
    width: 100%;
    height: 100%;
    animation: moving  2s infinite;
}
@keyframes moving {
    0%{
        top: 0px;
    }
    50%{
        top: -20px;
    }
    100%{
        top: 0px;
    }
}
.show{
    display: block;
    animation: slid-out .60s ease-in-out;

}
@keyframes slid-in  {
    from{
        transform:translateX(-100%);
    }
     to{
        transform: translateX(0);
     }
    
}

@keyframes slid-in  {
    from{
        transform: translateX(0);
    }
     to{
        transform:translateX(-100%);
     }
    
}
.writing{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    z-index: 1;
    
}
.writing p{
    display: none;
    padding-block: 1em;
    padding-inline: 1em;
    color: #fff;
    /* background-color: rgba(14, 134, 199, 1); */
    background-color: #05141b;
    font-size: calc(.3em + .4em);
    font-weight: 700;
    
}
.wrapper{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 30em;
    width: 50%;
    height: 30%;
    /* z-index: -1; */
}
.grid{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #030e18;
    
}
.grid >*{
    display: grid;
    grid-template-columns:  1fr 1fr ;
    width: 100%;
    background-color:  #155070;
    border: 0.2em solid black;
    margin: .5em;
    padding: .1em;
    gap: .6em;
}

.input{
    display: grid;
    grid-template-columns: 1fr auto;
    margin-right: 1em;
    margin-block: .7em;
    height: 60%;
    width: 12em;
    gap: .3em;
    padding-inline: .4em;
    padding-block: .4em;
    background-color: rgb(119, 152, 170, 0.8);
   
}
.Indd{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF0;
    font-family: 'Courier New', Courier, monospace;
}
.input input{
    grid-column: 1fr;
    outline: none;
}
.input input::placeholder{
    text-align: center;
    font-weight: 600;
}
.input input[type="text" i]{
    width: 100%;
    accent-color:  #03151f;
}

.input button{
    grid-column: auto;
    padding-inline: .6em;
    color: black;
    width: 100%;
    cursor: pointer;
    font-weight: 600;
    border: none;
}
.input button:hover{
    background-color: #155070;
    color: #fff;
}
.image{
    display: flex;
    justify-content: start;
    align-items: center;
    
}
.imgBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: .4em;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    background-color: #000;
}
.imgBox img{
    width: 2.4em;
    height: 2.4em;
    border-radius: 20em;
    object-fit: fill;
    cursor: pointer;
    /* animation: rotate 1s linear infinite; */
}
/* @keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} */


span{
   justify-self: center;
   align-self:center ;
    color: white;
    font-size: calc(.4em + .7vw);
}
.addUp{
    position: fixed;
    top: 60%;
    left: 80%;
    background: rgb(21, 80, 112, 0.4);
    border-radius: .4em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: .8em;
    align-items: center;
    width: 3em;
    height: 3em;
    cursor: pointer;
    overflow: hidden;
    
}
.addUp .additem{
    transform: translateY(-100%);
    transition: all .3s  ease-in-out;

}
.addUp .additem:active{
    background-color: #494444;
}
.addUp:hover .additem{
    transform: translateY(0);
}
.addUp >*{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7em;
    background: #000;
    border-radius: 50%;
}
.addUp:hover{
    height: 10em;
}
.addUp img{
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
}


@media (max-width: 600px) {
       .wrapper{
        width: 90%;
    }

}

@media (min-width:700px), (max-width:900px) {
       .wrapper{
        top: 30%;
        width: 90%;
    }


}


